<a href="https://colab.research.google.com/github/JananeeShri27/EDA-THEORY/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd

# Load the dataset
file_path = '/content/sample_data/Medicaid1986.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the dataset
print(df.head())

   rownames  visits  exposure  children  age  income  health1  health2  \
0         1       0       100         1   24  14.500    0.495   -0.854
1         2       1        90         3   19   6.000    0.520   -0.969
2         3       0       106         4   17   8.377   -1.227    0.317
3         4       0       114         2   29   6.000   -1.524    0.457
4         5      11       115         1   26   8.500    0.173   -0.599

   access married  gender ethnicity  school enroll program
0    0.50      no  female      cauc      13    yes    afdc
1    0.17      no  female      cauc      11    yes    afdc
2    0.42      no  female      cauc      12    yes    afdc
3    0.33      no  female      cauc      12    yes    afdc
4    0.67      no  female      cauc      16    yes    afdc

In [38]:
# Dimensions of the dataset
print("Dimensions:", df.shape)

Dimensions: (996, 15)

In [39]:
# Summary of the dataset
print("\nSummary of the dataset:")
print(df.describe())

Summary of the dataset:
         rownames      visits    exposure    children         age      income  \
count  996.000000  996.000000  996.000000  996.000000  996.000000  996.000000
mean   498.500000    1.930723  104.060241    1.314257   55.205823    8.191302
std    287.664735    3.354472    9.144973    1.509314   24.961373    3.630549
min      1.000000    0.000000   32.000000    0.000000   16.000000    0.500000
25%    249.750000    0.000000   98.000000    0.000000   29.000000    6.000000
50%    498.500000    1.000000  104.000000    1.000000   66.000000    7.990000
75%    747.250000    3.000000  111.000000    2.000000   78.000000    8.500000
max    996.000000   50.000000  120.000000    9.000000  105.000000   17.500000

          health1     health2      access      school
count  996.000000  996.000000  996.000000  996.000000
mean    -0.000013    0.000020    0.398102    9.029116
std      1.436934    0.740226    0.184439    4.353957
min     -2.264000   -2.177000    0.000000    0.000000
25%     -1.151250   -0.472000    0.297500    6.000000
50%     -0.316500   -0.009000    0.420000   10.000000
75%      0.858000    0.347000    0.500000   12.000000
max      7.217000    3.048000    1.000000   18.000000

In [40]:
# Checking data types
print("\nData types of each column:")
print(df.dtypes)

Data types of each column:
rownames       int64
visits         int64
exposure       int64
children       int64
age            int64
income       float64
health1      float64
health2      float64
access       float64
married       object
gender        object
ethnicity     object
school         int64
enroll        object
program       object
dtype: object

In [41]:
# Check for missing data
print("Missing values:\n", df.isnull().sum())

# Drop missing values
df_cleaned = df.dropna()

# Filling missing data with forward or backward fill
df_filled = df.fillna(method='ffill')  # Forward fill
df_bfilled = df.fillna(method='bfill')  # Backward fill

# Replace missing values with a specific value
df_filled_zero = df.fillna(0)

Missing values:
 rownames     0
visits       0
exposure     0
children     0
age          0
income       0
health1      0
health2      0
access       0
married      0
gender       0
ethnicity    0
school       0
enroll       0
program      0
dtype: int64

<ipython-input-41-e05e9be4d774>:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = df.fillna(method='ffill')  # Forward fill
<ipython-input-41-e05e9be4d774>:9: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfilled = df.fillna(method='bfill')  # Backward fill

In [42]:
# Check for duplicate rows
print("\nDuplicate rows:", df.duplicated().sum())

# Drop duplicate rows
df_no_duplicates = df.drop_duplicates()

Duplicate rows: 0

In [43]:
# Rename columns
df_renamed = df.rename(columns={'rownames': 'Names'})
print(df_renamed.head())

   Names  visits  exposure  children  age  income  health1  health2  access  \
0      1       0       100         1   24  14.500    0.495   -0.854    0.50
1      2       1        90         3   19   6.000    0.520   -0.969    0.17
2      3       0       106         4   17   8.377   -1.227    0.317    0.42
3      4       0       114         2   29   6.000   -1.524    0.457    0.33
4      5      11       115         1   26   8.500    0.173   -0.599    0.67

  married  gender ethnicity  school enroll program
0      no  female      cauc      13    yes    afdc
1      no  female      cauc      11    yes    afdc
2      no  female      cauc      12    yes    afdc
3      no  female      cauc      12    yes    afdc
4      no  female      cauc      16    yes    afdc

In [44]:
# Example: Binning a numeric column
bins = [0, 6, 9, 12, 16]
labels = ['Low', 'Medium', 'High', 'Very High']
df['newincome'] = pd.cut(df['income'], bins=bins, labels=labels)

# Checking binning result
print(df[['income', 'newincome']].head())

   income  newincome
0  14.500  Very High
1   6.000        Low
2   8.377     Medium
3   6.000        Low
4   8.500     Medium

In [45]:
# Detect outliers based on a threshold
outliers = df[df['exposure'] > 112]
print(outliers)

     rownames  visits  exposure  children  age  income  health1  health2  \
3           4       0       114         2   29   6.000   -1.524    0.457
4           5      11       115         1   26   8.500    0.173   -0.599
8           9       1       117         1   21   6.000   -1.227    0.317
13         14       5       117         2   21   6.000   -0.260   -0.447
14         15       3       114         1   34   4.000    0.198   -0.714
..        ...     ...       ...       ...  ...     ...      ...      ...
989       990      12       114         0   78   8.500    1.822    0.298
990       991       0       117         0   67  11.500   -0.209   -0.122
993       994      10       116         1   70   6.000    2.660   -0.723
994       995       3       118         0   73   6.000    0.813    0.056
995       996       0       115         2   71  10.444   -2.113    0.236

     access married  gender ethnicity  school enroll program newincome
3      0.33      no  female      cauc      12    yes    afdc       Low
4      0.67      no  female      cauc      16    yes    afdc    Medium
8      0.25      no  female      cauc      12    yes    afdc       Low
13     0.58      no  female     other       9    yes    afdc       Low
14     0.67      no  female      cauc      18    yes    afdc       Low
..      ...     ...     ...       ...     ...    ...     ...       ...
989    0.33      no  female      cauc      13     no     ssi    Medium
990    0.58     yes  female     other       6     no     ssi      High
993    0.17      no  female      cauc       8     no     ssi       Low
994    0.17      no  female      cauc      12     no     ssi       Low
995    0.42     yes    male     other      14     no     ssi      High

[229 rows x 16 columns]

In [46]:
# Random sampling without replacement
sampled_df = df.sample(n=10, random_state=42)
print(sampled_df)

# Random sampling with replacement
sampled_df_with_replacement = df.sample(n=10, replace=True, random_state=42)
print(sampled_df_with_replacement)

     rownames  visits  exposure  children  age  income  health1  health2  \
832       833       0       108         0   82   8.500   -1.672   -0.031
970       971       7        91         0   81   7.839    2.100    0.586
96         97       0       117         4   34   8.500   -0.471   -0.090
587       588       0        98         0   73   6.000   -2.264    0.347
450       451       0       117         1   41   6.000   -1.227    0.317
266       267      10       100         2   22   6.000   -1.066    0.189
290       291       0        52         1   25   6.000   -1.227    0.317
158       159       0       116         1   50  17.500    0.446    1.121
668       669       2       110         2   76   8.500   -0.776   -0.631
572       573       2       118         0   85   7.990   -0.928   -0.521

     access married  gender ethnicity  school enroll program newincome
832    0.38      no  female      cauc       9     no     ssi    Medium
970    0.33      no  female      cauc       0     no     ssi    Medium
96     0.33     yes  female     other      12    yes    afdc    Medium
587    0.25      no  female      cauc      12    yes     ssi       Low
450    0.42      no  female     other       9     no    afdc       Low
266    0.25      no  female     other      10     no    afdc       Low
290    0.58      no  female      cauc      13     no    afdc       Low
158    0.50      no  female     other       3    yes    afdc       NaN
668    0.33      no  female      cauc       3    yes     ssi    Medium
572    0.67      no  female      cauc      14    yes     ssi    Medium
     rownames  visits  exposure  children  age  income  health1  health2  \
102       103       0       113         2   35    8.50   -0.583   -0.193
435       436       9       107         1   53    6.00    7.217    1.038
860       861       1       103         0   96    6.00   -1.451   -0.165
270       271       1       113         2   35    2.50   -0.030    2.038
106       107       0        90         3   27    6.00   -1.524    0.457
71         72       2       115         2   38    6.85    0.792   -0.994
700       701       1       108         0   93   11.50    1.148    0.764
20         21       0       110         4   42    8.50    0.581   -0.637
614       615       0       106         0   84    6.00    2.157    0.628
121       122       1       100         1   33    8.50   -1.066    0.189

     access married  gender ethnicity  school enroll program newincome
102    0.50      no  female      cauc      14    yes    afdc    Medium
435    0.00      no  female      cauc      10     no    afdc       Low
860    0.58      no  female      cauc       8     no     ssi       Low
270    0.33      no    male      cauc      12     no    afdc       Low
106    0.67      no  female      cauc      12    yes    afdc       Low
71     0.42      no  female     other      12    yes    afdc    Medium
700    0.50     yes  female      cauc      12    yes     ssi      High
20     0.42      no  female     other      10    yes    afdc    Medium
614    0.50      no    male      cauc       0    yes     ssi       Low
121    0.00      no  female      cauc      14    yes    afdc    Medium

In [47]:
# Convert categorical columns into dummy/indicator variables
df_dummies = pd.get_dummies(df['ethnicity'], prefix='Category')
print(df_dummies)

     Category_cauc  Category_other
0             True           False
1             True           False
2             True           False
3             True           False
4             True           False
..             ...             ...
991           True           False
992           True           False
993           True           False
994           True           False
995          False            True

[996 rows x 2 columns]

In [50]:
import numpy as np

df_replaced = df.replace({'age': {24: 19}})

# Replace multiple values in a column
df_replaced_multiple = df.replace({'school': {13: 11, 12: 16}})

# Check the result
print(df_replaced.head())
print(df_replaced_multiple.head())

   rownames  visits  exposure  children  age  income  health1  health2  \
0         1       0       100         1   19  14.500    0.495   -0.854
1         2       1        90         3   19   6.000    0.520   -0.969
2         3       0       106         4   17   8.377   -1.227    0.317
3         4       0       114         2   29   6.000   -1.524    0.457
4         5      11       115         1   26   8.500    0.173   -0.599

   access married  gender ethnicity  school enroll program  newincome
0    0.50      no  female      cauc      13    yes    afdc  Very High
1    0.17      no  female      cauc      11    yes    afdc        Low
2    0.42      no  female      cauc      12    yes    afdc     Medium
3    0.33      no  female      cauc      12    yes    afdc        Low
4    0.67      no  female      cauc      16    yes    afdc     Medium
   rownames  visits  exposure  children  age  income  health1  health2  \
0         1       0       100         1   24  14.500    0.495   -0.854
1         2       1        90         3   19   6.000    0.520   -0.969
2         3       0       106         4   17   8.377   -1.227    0.317
3         4       0       114         2   29   6.000   -1.524    0.457
4         5      11       115         1   26   8.500    0.173   -0.599

   access married  gender ethnicity  school enroll program  newincome
0    0.50      no  female      cauc      11    yes    afdc  Very High
1    0.17      no  female      cauc      11    yes    afdc        Low
2    0.42      no  female      cauc      16    yes    afdc     Medium
3    0.33      no  female      cauc      16    yes    afdc        Low
4    0.67      no  female      cauc      16    yes    afdc     Medium

In [53]:
df_pivoted = df.pivot(index='rownames', columns='visits', values='school')

# Check the result
print(df_pivoted.head(3))

visits      0     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  \
rownames
1         13.0   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
2          NaN  11.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3         12.0   NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

visits    16  24  48  50
rownames
1        NaN NaN NaN NaN
2        NaN NaN NaN NaN
3        NaN NaN NaN NaN